<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
      <%= link_to "Posts", posts_path %>
      <% if signed_in? %>
      | <%= link_to "Sign out", session_path(1), method: "Delete" %>
      <% else %>
      | <%= link_to "Sign in", new_session_path %>
      <% end %>
   </div>
   <br/>
   <button onclick="toggleMenu();" class="menu-toggle-btn" type="button">Toggle menu</button>
<p>
  ________________________________
</p>
<%= yield %>

</body>
</html>
