<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Posts", posts_path %>
  |
  <%= yield :edit_post_link %>
  |
  <%= yield :delete_post_link %>
  <% if cookies[:user_id] %>
  | <%= link_to "Sign out", session_path(1), method: "Delete" %>
  <% else %>
  | <%= link_to "Sign in", new_session_path %>
  <% end %>
  <p>
    ________________________________
  </p>
  <%= yield %>

</body>
</html>
